<div class="Container  mt-5">
  <div class="card shadow p-3 mb-5 bg-white rounded">
    <div class="card-body">

      <div class="d-flex mb-3">
        <div class="p-2">
          <input type="text" class="form-control" placeholder="Search task...." [(ngModel)]="searchTerm">
        </div>
        <div class="ml-auto p-2">
          <button type="button" class="btn btn-dark" [routerLink]="['/add']">Add Task</button>
        </div>

      </div>



    </div>
    <table class="table table-bordered">


      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Due Date</th>
          <th scope="col">Priority</th>
          <th scope="col">User Id</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of task | search: searchTerm">
          <th scope="row">{{item.id}}</th>
          <td>{{item.title}}</td>
          <td>{{item.description}}</td>
          <td>{{item.dueDate}}</td>
          <td [ngStyle]="{'color':item.priority ==='High'? 'red':item.priority === 'Medium'?'orange':'green'}">{{item.priority}}</td>
          <td>{{item.userId}}</td>
          <td>
            <button type="button" class="btn btn-danger me-3" (click)="OnDelete(item.id)">Delete</button>
            <button type="button" class="btn btn-warning me-3" (click)="onEdit(item.id)">Edit</button>
          </td>
        </tr>
        <tr>

      </tbody>
    </table>
  </div>

</div>